<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- NLog Configuration -->
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
    </configSections>

    <!-- Reference the external nlog.config file -->
    <nlog configSource="nlog.config" />

    <!-- Application Settings -->
    <appSettings>
        <add key="SplashScreenPdf" value="splash.pdf" />
    </appSettings>
</configuration>
